language: java
jdk:
  - oraclejdk8

sudo: required
addons:
  apt:
    packages:
      - oracle-java8-installer

jobs:
  include:
    - stage: build
      install: ./gradlew setupCiWorkspace
      script: ./gradlew build
env:
  global:
    TERM=dumb
